# MES Specific
application.yaml
application.yml
application.properties

com/alcegory/mescloud/security/config/SecurityConfig

# Automation processes
automation/set-sys-env-vars.bat

# Compiled class files
*.class

# Log files
*.log

# IntelliJ IDEA files
.idea/
*.iml
*.iws
*.ipr

# Eclipse files
.project
.classpath
.settings/
*.launch

# Maven files
target/

# Gradle files
build/
.gradle/
!gradle/wrapper/gradle-wrapper.jar

# OS-specific files
.DS_Store
Thumbs.db