
# Compiled class files
*.class

# Log files
*.log

# IntelliJ IDEA files
.idea/
*.iml
*.iws
*.ipr

# Eclipse files
.project
.classpath
.settings/
*.launch

# Maven files
target/

# Gradle files
build/
.gradle/
!gradle/wrapper/gradle-wrapper.jar

# OS-specific files
.DS_Store
Thumbs.db